.bg-color{
    background-color: #68605e;
    color: rgb(240, 238, 238);
}
  
.card-hover:hover {
    border: 2px solid #68605e;
    box-shadow: 10px 10px 1000px 1000px rgba(255, 255, 255, 0.5);
    z-index: 500;
}
  